<div class="md:pt-56 pt-48 grid grid-cols-1 gap-12 text-center md:px-12 px-6 bg-[#65c3cf] text-3xl overpass-class" style="height: 85%;">
    <div>
        Enter the PASSWORD provided to you:
    </div>

    <div>
        <mat-form-field style="width: 80%;" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [formControl]="password" required>
            <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
            <mat-icon matSuffix>badge</mat-icon>
        </mat-form-field>
    </div>

    <div class="text-center pt-4 pb-8">
        <button mat-raised-button style="width: 80%; height: 100px;" class="text-4xl text-white overpass-bold-class bg-[#304351]" (click)="onSubmit()">
            Submit
        </button>
    </div>
</div>