<footer class="bg-[#304351] text-white md:h-72 h-44">
    <div class="flex justify-center">
      <div class="text-center md:mt-12 mt-8">
        <p class="paradise-city-class md:text-7xl text-4xl">Paradise Craft Distributors</p>
      </div>
    </div>
    <div class="flex justify-between md:px-80 px-4">
      <div class="text-center mb-1 flex items-center">
        <img src="assets/ParadiseLogo.jpg" class="md:mt-6 md:w-16 w-8 md:h-16 h-8 mr-2 mt-2">
        <a href="https://paradisedistributors.com" class="md:mt-6 md:mt-7 mt-2 overpass-class underline">View the full website</a>
      </div>
      <div class="text-center flex items-center md:mt-6 mt-1">
        <img src="assets/telephone.png" class="md:w-16 w-8 md:h-16 h-8 mr-2" style="filter: brightness(0) invert(1);">
        <a class="overpass-class">Call: 727-815-2365</a>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="flex items-center mt-2 md:py-2">
        <p class="overpass-class md:text-xl">Created by</p>
        <a href="https://bendoza.com" class="overpass-class underline ml-1 mb-3 md:text-xl">Benjamin Mendoza</a>
      </div>
    </div>
  </footer>