<div class="fixed inset-x-0 top-0 z-50 bg-[#304351] md:h-36 h-20">
  <div class="items-center grid grid-cols-3 gap-4">
    <div class="flex md:mr-0 mr-2 justify-center">
      <img src="assets/ParadiseLogo.jpg" class="md:w-32 w-20 md:h-32 h-20">
    </div>
    <div class="lg:block pt-4 md:ml-6 hidden flex justify-center items-center">
      <a class="text-white md:text-6xl text-3xl paradise-city-class" href="/">Paradise Craft Distributors</a>
    </div>
    <div class="lg:hidden block flex justify-center">
      <a class="pt-2 text-white text-3xl paradise-city-class" href="/">Paradise </a>
      <a class="pt-2 ml-2 text-white text-3xl paradise-city-class" href="/">Distributors</a>
    </div>
    <div class="flex md:ml-0 ml-2 justify-center">
      <img src="assets/ParadiseLogo.jpg" class="md:w-32 w-20 md:h-32 h-20">
    </div>
  </div>
</div>