<mat-toolbar class="fixed inset-x-0 top-0 z-50 bg-[#304351] md:h-36 h-20">
    <div class="grid grid-cols-3 gap-20">
      <div class="flex justify-end md:px-32 md:pr-0 pr-2">
        <img src="assets/ParadiseLogo.jpg" class="md:w-32 w-14 md:h-32 h-14">
      </div>
      <div class="flex justify-center">
        <a class="md:pt-8 pt-3 text-white md:text-7xl text-3xl paradise-city-class" href="/">Paradise Craft Distributors</a>
      </div>
      <div class="flex justify-start md:px-32 md:pl-0 pl-2">
        <img src="assets/ParadiseLogo.jpg" class="md:w-32 w-14 md:h-32 h-14">
      </div>
    </div>
</mat-toolbar>  