<div class="fixed inset-x-0 top-0 z-50 bg-[#304351] sm:h-36 h-20">
  <div class="flex justify-between">
    <div class="sm:pt-1 sm:ml-48 ml-4">
      <img src="assets/ParadiseLogo.jpg" class="sm:w-32 w-20 sm:h-32 h-20">
    </div>
    <div class="sm:block hidden pt-10">
      <a class="text-white sm:text-6xl text-3xl paradise-city-class" href="/">Paradise Craft Distributors</a>
    </div>
    <div class="sm:hidden block pt-6">
      <a class="pt-2 text-white text-3xl paradise-city-class" href="/">Paradise Distributors</a>
    </div>
    <div class="sm:pt-1 sm:mr-48 mr-4">
      <img src="assets/ParadiseLogo.jpg" class="sm:w-32 w-20 sm:h-32 h-20">
    </div>
  </div>
</div>