<div class="md:pt-48 pt-28 md:pb-12 pb-8 md:px-12 px-6 grid grid-cols-1 md:gap-12 gap-8 bg-[#65c3cf]" style="height: 250%;">
    
    <div class="pt-24 pb-4" style="background-image: url('assets/paradise_bg.png'); background-size: cover; border: 2px solid rgba(89,132,151,255);">
        <div class="grid grid-cols-1 gap-16 flex justify-between">
            <div class="text-center md:text-5xl text-2xl overpass-bold-class">
                Welcome to Paradise!
            </div>
            <div class="md:pt-16 pt-8 px-4 text-center md:text-3xl text-xl overpass-bold-class">
                Here you can locate our catalog, and any information regarding the products we offer.
            </div>
            <div class="md:pt-16 pt-8 px-4 text-center md:text-3xl text-xl overpass-bold-class">
                For any inquiries regarding more information, please call:
                <a href="tel:7278076517" class="underline text-center md:text-3xl text-xl overpass-bold-class">
                    (727)-807-6517
                </a>
            </div>
        </div>
    </div>
    
    <div class="pt-16 pb-4" style="background-color: rgba(0, 0, 0, 0.1); border: 2px solid rgba(89,132,151,255);">
        <div class="text-4xl text-center">
            Spirits
        </div>
    </div>
    
    <div class="pt-16 pb-4" style="background-color: rgba(0, 0, 0, 0.1); border: 2px solid rgba(89,132,151,255);">
        <div class="text-4xl text-center">
            Wines
        </div>
    </div>

</div>